www.skroutz.gr###featurette
www.skroutz.gr###bottom-featurette
www.skroutz.gr###popular
www.skroutz.gr###launcher
www.skroutz.gr###users-also-viewed
www.skroutz.gr###visually-similar
www.skroutz.gr###shop-the-look
www.skroutz.gr###videoask-desktop-wrapper
www.skroutz.gr##.custom-shelf-2.shelf.content
www.skroutz.gr##.custom-shelf-1.shelf.content
www.skroutz.gr##.pop-manufacturers
www.skroutz.gr##.tips-tricks-section
www.skroutz.gr##.popular-products-section
www.skroutz.gr##.tags-group
www.skroutz.gr###js-custom-shelf-2
www.skroutz.gr###js-custom-shelf-1 > .icon.js-next-btn.next.slider-btn
www.skroutz.gr##div:nth-of-type(5) > .tags-group
www.skroutz.gr##.combo-filters.no-scrollbars.scroll-persist-listing.content-scrollable.promo-top-filters
www.skroutz.gr##.cf.pop-manufacturers
www.skroutz.gr##.minisku-section
www.skroutz.gr##.listing-video-wrapper
www.skroutz.gr##.guide.icon.guide-intro
www.skroutz.gr##.promo-video-card.card.cf
www.skroutz.gr##.card.category-discussion-prompt
www.skroutz.gr##.guide-intro
www.skroutz.gr##.sku-review-card
www.skroutz.gr##li.labeled-product.labeled-item.with-skus-slider.card.cf:nth-of-type(1)
www.skroutz.gr##.timeline-banner.card
www.skroutz.gr##.hide-small-viewport.top-area-categories-desktop.no-scrollbars.scroll-persist-listing.content-scrollable.category-pills.top-area-categories
www.skroutz.gr##.content.section.js-prices.prices > section
www.skroutz.gr##.add-to-cart-promos
www.skroutz.gr##.store-pickup-promo-banner-listing
www.skroutz.gr##.hide-small-viewport.page-title-wrapper > .bottom.dark-theme.switch-btn-onboarding-tooltip.tooltip-container
www.skroutz.gr##li.labeled-product.labeled-item.card.cf
www.skroutz.gr##.vat-exemption-promo
www.skroutz.gr##.vat-exemption-banner.listing-promo-banner
www.skroutz.gr##.apple-promo-banner.listing-promo-banner
www.skroutz.gr##.store-pickup-promo-banner.listing-promo-banner
www.skroutz.gr##.js-footer
www.skroutz.gr##.js-card-bottom.lsu
www.skroutz.gr##.js-sponsorship-handler.top-section > .content
